
</body>
<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Customers also purchased</h2>

    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <% if @products.empty? %>
        <p class="text-gray-500">No products available.</p>
      <% else %>
        <% @products.each do |product| %>
          <div>
          <%= link_to product_path(product), class: "group relative block" do %>
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
              <%= image_tag(product.images.any? ? product.images.first : "https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg", class: "h-full w-full object-cover object-center lg:h-full lg:w-full") %>
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-sm text-gray-700">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  <%= product.name %>
                </h3>
                <!-- <p class="mt-1 text-sm text-gray-500">Black</p> -->
              </div>
              <p class="text-sm font-medium text-gray-900">$ <%= product.price %> </p>
            </div>
          <% end %>
            <%= button_to 'Add To Cart', line_items_path(product_id:product.id), class:"mt-10 flex w-full items-center justify-center rounded-md border border-transparent bg-pink-600 px-8 py-3 text-base font-medium text-white hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-pink-500 focus:ring-offset-2 hover:cursor-pointer" %>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
<body>