<div id="<%= dom_id category %>" class="  w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= category.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= category.description %>
  </div>
  <% if action_name != 'show' %>
    <%= link_to "show this category", [:admin, category]  %>
    <%= link_to "Edit this category", edit_admin_category_path(category) %>
  <% end %>
</div>

